$color-black: #000000;
$color-logo-main: rgba(0, 153, 255, 0.5);
$color-shadow: #a0a0a0;
$color-bg-app: #a7c7e7;
$color-bg: #f3f3f3;
$color-white: #ffffff;
$color-border: #e6e6e6;
$color-title: #538a9f;
$color-text: #3c3c3c;
$color-header: #8d979b;
$color-btn-bg: linear-gradient(
  0deg,
  rgba(91, 192, 222, 1) 0%,
  rgba(83, 138, 159, 1) 0%,
  rgba(91, 192, 222, 1) 100%
);
$color-error: #ff0000;
$color-weather-bg: linear-gradient(
  315deg,
  rgba(72, 219, 251, 1) 0%,
  rgba(211, 211, 211, 1) 74%
);
$color-weather-detail-bg: linear-gradient(
  315deg,
  rgba(0, 153, 187, 0.75) 0%,
  rgba(128, 206, 215, 1) 74%
);
$color-weather-text: #636363;
$color-charts-bg: linear-gradient(
  0deg,
  rgba(0, 126, 167, 1) 0%,
  rgba(128, 206, 215, 1) 74%
);
$color-single-chart-bg: rgba(255, 255, 255, 0.85);
$color-bg-main: rgba(255, 255, 255, 0.8);
$color-logo-hover: rgba(255, 250, 160, 0.85);
