@import "../../scss/main.scss";

.nav-logo {
  background: $color-white;
  box-shadow: 0.5px 0.5px 8px $color-border;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-tap-highlight-color: transparent;

  &:hover > .nav-logo__icon {
    color: $color-logo-hover;
  }

  &__content {
    background: $color-logo-main;
    padding: 10px;
    border-radius: 20px;
  }

  &__icon {
    color: $color-white;
    width: 25px;
    height: 25px;

    @include mediaDesktop {
      width: 35px;
      height: 35px;
    }

    @include mediaMax {
      width: 50px;
      height: 50px;
    }
  }
}
