@import "../scss/main.scss";

.login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 100%;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: 2px 2px 10px $color-border;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mediaDesktop {
            width: 500px;
            padding: 40px;
        }

        @include mediaMax {
            width: 700px;
            padding: 50px 0;
        }
    }

    &__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mediaTablet {
            width: 80%;
        }

        @include mediaMax {
            width: 100%;
        }
    }

    &__logo-img {
        width: 75px;
        height: 75px;
        margin-right: 10px;

        @include mediaTablet {
            margin-right: 20px;
        }

        @include mediaMax {
            margin-right: 30px;
        }
    }

    &__logo-title {
        font-family: $font-logo;
        font-size: 40px;
        color: $color-title;

        @include mediaDesktop {
            font-size: 42px;
        }

        @include mediaMax {
            font-size: 52px;
        }
    }

    &__form {
        width: 100%;
        padding-top: 20px;

        @include mediaTablet {
            width: 80%;
        }

        @include mediaMax {
            padding-top: 40px;
        }
    }

    &__form-label {
        width: 100%;
        font-size: 16px;
        color: $color-title;

        @include mediaDesktop {
            font-size: 18px;
        }
    }

    &__form-input {
        width: 100%;
        margin: 15px 0;
        padding: 5px 0;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid $color-border;
        color: $color-title;

        &:focus {
            border-color: $color-title;
        }

        @include mediaDesktop {
            font-size: 18px;
        }
    }

    &__form-error {
        color: $color-error;
        padding-bottom: 20px;
    }

    &__form-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;

        @include mediaMax {
            padding-top: 20px;
        }
    }

    &__form-btn {
        background: transparent;
        padding: 10px 12px;
        border: none;
        border-radius: 8px;
        text-transform: uppercase;
        font-family: $font-btn;
        letter-spacing: 0.05em;
        font-size: 14px;
        color: $color-text;
        background: $color-btn-bg;

        @include mediaDesktop {
            font-size: 16px;
        }

        @include mediaMax {
            font-size: 18px;
            padding: 12px 20px;
        }
    }
}