@import "../../scss/main.scss";

.city {
  width: auto;
  border: 1px solid $color-title;
  color: $color-title;
  font-weight: 500;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 10px 0;
  cursor: pointer;
  font-size: 16px;

  @include mediaDesktop {
    font-size: 20px;
  }

  &:hover {
    color: $color-white;
    background: $color-title;
  }
}
