@import "../../scss/main.scss";

.city {
  width: fit-content;
  border: 1px solid $color-title;
  color: $color-title;
  font-weight: 500;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 7px 0;
  cursor: pointer;
  font-size: 16px;

  @include mediaDesktop {
    font-size: 20px;
  }

  &:hover,
  &--drag {
    color: $color-white;
    background: $color-logo-main;
    border-color: $color-logo-main;
  }
}
