@import "../../scss/main.scss";

.login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  &__content {
    width: 100%;
    background: $color-bg-main;
    border-radius: 10px;
    box-shadow: 1px 1px 20px $color-title;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mediaTablet {
      width: 400px;
      padding: 30px 10px;
    }

    @include mediaDesktop {
      width: 500px;
      padding: 40px;
    }

    @include mediaMax {
      width: 700px;
      padding: 50px 0;
    }
  }

  &__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    @include mediaTablet {
      width: 80%;
    }

    @include mediaMax {
      width: 100%;
    }

    &-icon {
      color: $color-white;
      width: 25px;
      height: 25px;

      @include mediaDesktop {
        width: 35px;
        height: 35px;
      }

      @include mediaMax {
        width: 50px;
        height: 50px;
      }

      &-box {
        margin-right: 20px;
        background: $color-logo-main;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 8px 2px $color-title;
      }
    }

    &-title {
      font-family: $font-logo;
      font-weight: 700;
      font-style: italic;
      font-size: 26px;
      color: $color-text;
      -webkit-text-stroke: 3px $color-logo-main;

      @include mediaDesktop {
        font-size: 32px;
      }

      @include mediaMax {
        font-size: 44px;
      }
    }
  }

  &__form {
    width: 100%;
    padding-top: 20px;

    @include mediaTablet {
      width: 80%;
    }

    @include mediaMax {
      padding-top: 40px;
    }
  }

  &__form-label {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: $color-title;

    @include mediaDesktop {
      font-size: 16px;
    }
  }

  &__form-input {
    width: 100%;
    margin: 15px 0;
    padding: 5px 0;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid $color-border;
    color: $color-title;
    background: transparent;

    &:focus {
      border-color: $color-title;
    }

    @include mediaDesktop {
      font-size: 16px;
    }
  }

  &__form-error {
    color: $color-error;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 14px;

    @include mediaDesktop {
      font-size: 16px;
    }
  }

  &__form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    @include mediaMax {
      padding-top: 20px;
    }
  }
}
