@import "./settings/reset.scss";
@import "./settings/fonts.scss";
@import "./settings/colors.scss";
@import "./settings//mixins.scss";

body {
  font-family: $font-base;
  color: $color-text;
  background: url("../assets/background.jpg");
  background-size: cover;
}

.app {
  max-width: 1352px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $color-black;

  &:focus {
    outline: none;
  }
}
